mixin renderApiSection(properties)
  h5.u-headline-m.article-title API

  u-card.api-card(variant="outlined")
    u-table(slot="before-content")
      u-thead
        u-tr
          u-th Property
          u-th Attribute
          u-th Type
          u-th Default
          u-th Description
      u-tbody
        each property in properties
          u-tr
            u-td
              if property.name != null && property.name.trim() != ''
                code= property.name
            u-td
              if property.attribute != null && property.attribute.trim() != ''
                code= property.attribute
            u-td
              code= property.type
            u-td
              if property.default != null && property.default.trim() != ''
                code= property.default
            u-td.api-description-cell !{property.description}
