include _apis
include _api-section

mixin renderTitle(title)
  h4.u-display-m.chapter-title #{title}

mixin renderSection(title)
  h5.u-headline-m.article-title #{title}
  u-card.example-card(variant="outlined")
    block

doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    base(href="/")

    title Universal Material

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/base16/atelier-sulphurpool-light.min.css")

    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap")

    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css")
    link(rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.1/normalize.css")
    link(rel="stylesheet" href="css/universal-material.min.css")
    link(rel="stylesheet" href="css/docs.css")

    body(style="display: none")
      u-side-navigation
        u-drawer(slot="drawer")
          h6.u-navigation-drawer-headline.u-headline-s Material Design

          u-drawer-item(href="") Introduction
          u-drawer-item(href="content/typography.html") Typography

          //u-drawer-item(href="layout/grid.html") Grid


          //u-drawer-item Colors
            i.u-typo-title-l.mdi.mdi-chevron-down(slot="badge")

          //.nested-menu-items
            u-drawer-item(href="utilities/text-colors.html") Text
            u-drawer-item(href="utilities/background-colors.html") Background
            u-drawer-item(href="utilities/text-and-background-colors.html") Text and background

          u-drawer-item Buttons
            i.u-typo-title-l.mdi.mdi-chevron-down(slot="badge")

          .nested-menu-items
            u-drawer-item(href="components/common-buttons.html") Common buttons
            u-drawer-item(href="components/fab.html") Floating Action Button (FAB)
            u-drawer-item(href="components/icon-buttons.html") Icon buttons
            u-drawer-item(href="components/button-set.html") Button set

          u-drawer-item(href="components/cards.html") Cards

          //u-drawer-item(href="components/checkbox.html") Checkbox

          //u-drawer-item(href="components/chips.html") Chips

          u-drawer-item(href="components/data-tables.html") Data tables

          //u-drawer-item(href="components/dialogs.html") Dialogs

          u-drawer-item(href="components/dividers.html") Dividers

          //u-drawer-item(href="components/lists.html") Lists

          //u-drawer-item(href="components/menus.html") Menus

          //u-drawer-item(href="components/progress.html") Progress

          u-drawer-item(href="components/ripple.html") Ripple

          //u-drawer-item(href="components/selection-controls.html") Selection controls

          //u-drawer-item(href="components/sliders.html") Sliders

          //u-drawer-item(href="components/snackbars.html") Snackbars

          //u-drawer-item(href="components/tabs.html") Tabs

          //u-drawer-item(href="components/text-fields.html") Text fields

          //u-drawer-item(href="components/toolbars.html") Toolbars

        u-top-app-bar
          u-icon-button#menu-toggle(
            type="button",
            slot="leading-icon")
            i.mdi.mdi-menu
          span Material

          span.u-dropdown(slot="trailing-icon")
            u-icon-button.u-dropdown-toggle
              i.mdi.mdi-theme-light-dark
            .u-dropdown-menu.down-start
              .u-dropdown-content
                button.u-dropdown-item(href='#', onclick="setThemeMode(ThemeMode.Auto)") System
                button.u-dropdown-item(href='#', onclick="setThemeMode(ThemeMode.Light)") Light
                button.u-dropdown-item(href='#', onclick="setThemeMode(ThemeMode.Dark)") Dark
          u-icon-button(
            slot="trailing-icon",
            href="/angular",
            title="Universal Material Angular")
            i.mdi.mdi-angular
          u-icon-button#rtl-toggle(
            slot="trailing-icon",
            type="button",
            title="Rtl")
            i.mdi.mdi-format-align-right

              //.u-toolbar-actions
                span.u-dropdown.u-toolbar-action
                  button.u-icon-btn.u-dropdown-toggle
                    i.u-btn-icon.mdi.mdi-theme-light-dark
                  .u-dropdown-menu.down-start
                    .u-dropdown-content
                      button.u-dropdown-item(href='#', onclick="setThemeMode(ThemeMode.Auto)") System
                      button.u-dropdown-item(href='#', onclick="setThemeMode(ThemeMode.Light)") Light
                      button.u-dropdown-item(href='#', onclick="setThemeMode(ThemeMode.Dark)") Dark

                a.u-toolbar-action.u-icon-btn(href="/angular", title="Universal Material Angular")
                  i.u-btn-icon.mdi.mdi-angular
                button.u-toolbar-action.u-icon-btn#rtl-toggle(type="button", title="Rtl")
                  i.u-btn-icon.mdi.mdi-format-align-right

        u-container.chapter#main-content
          block content
      //.u-drawer.u-drawer-lg-dismissible
        aside.u-drawer-content.u-navigation-drawer
          .u-drawer-scrollable-container


        .u-drawer-backdrop.d-lg-none
        .u-toolbar.u-toolbar-fixed#app-bar
          .u-toolbar-row
            .u-toolbar-start
              .u-toolbar-actions
                button.u-toolbar-action.u-icon-btn(type="button")#menu-toggle
                  i.u-btn-icon.mdi.mdi-menu
            .u-toolbar-center
              .u-toolbar-title Material
            .u-toolbar-end
              .u-toolbar-actions
                span.u-dropdown.u-toolbar-action
                  button.u-icon-btn.u-dropdown-toggle
                    i.u-btn-icon.mdi.mdi-theme-light-dark
                  .u-dropdown-menu.down-start
                    .u-dropdown-content
                      button.u-dropdown-item(href='#', onclick="setThemeMode(ThemeMode.Auto)") System
                      button.u-dropdown-item(href='#', onclick="setThemeMode(ThemeMode.Light)") Light
                      button.u-dropdown-item(href='#', onclick="setThemeMode(ThemeMode.Dark)") Dark

                a.u-toolbar-action.u-icon-btn(href="/angular", title="Universal Material Angular")
                  i.u-btn-icon.mdi.mdi-angular
                button.u-toolbar-action.u-icon-btn#rtl-toggle(type="button", title="Rtl")
                  i.u-btn-icon.mdi.mdi-format-align-right

        u-container.chapter#main-content
          block content

    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js')
    script(src="js/docs.js" type="module")
    block scripts

