docs-title(title="Chips")

docs-example(
  sectionTitle="Live",
  [renderExample]="false",
  [html]="template")
  h5.u-title-m Settings

  u-chip-set
    u-chip(
      toggle,
      (change)="elevated = $any($event.target).selected; updated$.next()",
      [selected]="elevated") Elevated
    u-chip(
      toggle,
      (change)="leadingIcon = $any($event.target).selected; updated$.next()",
      [selected]="leadingIcon") Leading icon
    u-chip(
      toggle,
      (change)="trailingIcon = $any($event.target).selected; updated$.next()",
      [selected]="trailingIcon") Trailing icon
    u-chip(
      toggle,
      (change)="selectedIcon = $any($event.target).selected; updated$.next()",
      [selected]="selectedIcon") Custom selected icon
    u-chip(
      toggle,
      (change)="customRemove = $any($event.target).selected; updated$.next()",
      [selected]="customRemove") Custom remove icon
    u-chip(
      toggle,
      (change)="removable = $any($event.target).selected; updated$.next()",
      [selected]="removable") Removable
    u-chip(
      toggle,
      (change)="clickable = $any($event.target).selected; updated$.next()",
      [selected]="clickable") Clickable
    u-chip(
      toggle,
      (change)="toggle = $any($event.target).selected; updated$.next()",
      [selected]="toggle") Toggle
    u-chip(
      toggle,
      (change)="hideSelectedIcon = $any($event.target).selected; updated$.next()",
      [selected]="hideSelectedIcon") Hide selected icon

  h5.u-title-m.u-mt-large Component
  u-chip(
    [elevated]="elevated",
    [removable]="removable",
    [clickable]="clickable",
    [toggle]="toggle",
    [hideSelectedIcon]="hideSelectedIcon",
    (remove)="$event.preventDefault()")
    span.material-symbols-outlined.material-symbols-fill.u-text-warning(
      *ngIf="selectedIcon"
      slot="selected-icon") star
    span.material-symbols-outlined(
      *ngIf="leadingIcon"
      slot="leading-icon") star
    | Label
    span.material-symbols-outlined(
      *ngIf="trailingIcon"
      slot="trailing-icon") arrow_drop_down
    span.material-symbols-outlined(
      *ngIf="customRemove"
      slot="remove-icon") cancel

docs-apis-table(key="chip")
