docs-title(title="Buttons") Common buttons prompt most actions in a UI

docs-example(
  sectionTitle="Variants",
  [html]="variantsHtml")

docs-example(
  sectionTitle="Filled colors",
  [html]="filledColorsHtml")

docs-example(
  sectionTitle="Anchor buttons",
  [html]="anchorButtonsHtml")

docs-example(
  sectionTitle="Icons",
  [html]="iconsHtml")

docs-example(
  sectionTitle="Trailing icons",
  [html]="trailingIconsHtml")

docs-apis-table(key="button")
