docs-title(title="Typeahead")

docs-example(
  sectionTitle="Simple",
  [renderExample]="false",
  [html]="simpleHtml")

  u-text-field#text-field(
    label="States"
    supporting-text="Select a state")
  u-typeahead(target-id="text-field", [source]="states")

docs-example(
  sectionTitle="Object results",
  [renderExample]="false",
  [html]="objectResultsHtml")

  u-text-field#object-field(
    label="States"
    supporting-text="Select a state")
  u-typeahead(
    target-id="object-field",
    [formatter]="formatter",
    [source]="stateObjects")

docs-example(
  sectionTitle="Handling selection",
  [renderExample]="false",
  [html]="handlingSelectionHtml")

  u-chip-field#chip-field(
    #chipField,
    label="States",
    supporting-text="Select a state"
    manual,
    [formatter]="formatter")
  u-typeahead(
    target-id="chip-field",
    (selected)="selected($event)",
    [source]="stateObjects",
    [formatter]="formatter")

docs-apis-table(key="typeahead")
