docs-title(title="Progress")

docs-example(
  sectionTitle="Indeterminate",
  [html]="indeterminateHtml")
  u-progress-bar

docs-example(
  sectionTitle="Determinate",
  [html]="determinateHtml")
  u-progress-bar([value]="barValue")
  div
    input(
      type="number",
      min="0",
      max="1",
      step="0.01",
      [(ngModel)]="barValue")

docs-example(
  sectionTitle="Indeterminate circular progress",
  [html]="circularProgressHtml")
  u-circular-progress
docs-example(
  sectionTitle="Determinate circular progress",
  [html]="circularProgressHtml")
  u-circular-progress([value]="circularValue")
  div
    input(
      type="number",
      min="0",
      max="1",
      step="0.01",
      [(ngModel)]="circularValue")
