docs-title(title="Text fields")

.u-column
  docs-example(
    sectionTitle="Live",
    [renderExample]="false",
    [html]="template")

    h5.u-title-m Settings
    u-chip-set
      u-chip(
        (click)="setVariant('filled')",
        [selected]="variant === 'filled'")
        span.material-symbols-outlined(slot="selected-icon") done
        | Filled
      u-chip(
        (click)="setVariant('outlined')",
        [selected]="variant === 'outlined'")
        span.material-symbols-outlined(slot="selected-icon") done
        | Outlined
      u-chip(
        toggle,
        (change)="leadingIcon = $any($event.target).selected; updated$.next()",
        [selected]="leadingIcon")
        span.material-symbols-outlined(slot="selected-icon") done
        | Leading icon
      u-chip(
        toggle,
        (change)="trailingIcon = $any($event.target).selected; updated$.next()",
        [selected]="trailingIcon")
        span.material-symbols-outlined(slot="selected-icon") done
        | Trailing icon
      u-chip(
        toggle,
        (change)="invalid = $any($event.target).selected; updated$.next()",
        [selected]="invalid")
        span.material-symbols-outlined(slot="selected-icon") done
        | Invalid

      u-chip(
        toggle,
        (change)="disabled = $any($event.target).selected; updated$.next()",
        [selected]="disabled")
        span.material-symbols-outlined(slot="selected-icon") done
        | Disabled

      u-chip(
        toggle,
        (change)="showCounter = $any($event.target).selected; updated$.next()",
        [selected]="showCounter")
        span.material-symbols-outlined(slot="selected-icon") done
        | Counter

    .u-column.u-mt-small
      u-text-field(
        label="Supporting text",
        [(ngModel)]="supportingText",
        (ngModelChange)="updated$.next()",
        ngDefaultControl)
      u-text-field(
        label="Error text",
        [(ngModel)]="errorText",
        (ngModelChange)="updated$.next()",
        ngDefaultControl)

    h5.u-title-m.u-mt-large Component
    u-text-field(
      label="Name"
      example,
      prefix-text="$",
      suffix-text=".00",
      [counter]="showCounter ? '10/100' : ''",
      [supportingText]="supportingText",
      [errorText]="errorText",
      [variant]="variant",
      [invalid]="invalid",
      [disabled]="disabled")
      span.material-symbols-outlined(
        *ngIf="leadingIcon",
        slot="leading-icon") search
      u-icon-button(
        *ngIf="trailingIcon",
        slot="trailing-icon",
        [disabled]="disabled")
        span.material-symbols-outlined cancel
      span(
        *ngIf="showCounter",
        slot="counter") 10/100

    u-text-field(
      example,
      [variant]="variant",
      [invalid]="invalid",
      [disabled]="disabled")
      span.material-symbols-outlined(
        *ngIf="leadingIcon",
        slot="leading-icon") search
      u-icon-button(
        *ngIf="trailingIcon",
        slot="trailing-icon",
        toggle,
        [disabled]="disabled")
        span.material-symbols-outlined cancel
      span(slot="label") Name
      span(
        *ngIf="supportingText",
        slot="supporting-text",
        id="supporting-text") {{supportingText}}
      span(
        *ngIf="errorText",
        slot="error-text") {{errorText}}
      span(
        *ngIf="showCounter",
        slot="counter") 10/100
