docs-title(title="Menus")

docs-example(
  sectionTitle="Down",
  [html]="downHtml")

docs-example(
  sectionTitle="Down left",
  [html]="downLeftHtml")

docs-example(
  sectionTitle="Down right",
  [html]="downRightHtml")

docs-example(
  sectionTitle="Down start",
  [html]="downStartHtml")

docs-example(
  sectionTitle="Down end",
  [html]="downEndHtml")
