u-side-navigation(#navigation)
  u-top-app-bar([scrollContainer]="navigation.scrollContainer || 'window'")
    u-icon-button(
      type="button",
      slot="leading-icon",
      (click)="navigation.toggleDrawer = !navigation.toggleDrawer")
      span.material-symbols-outlined menu
    span Material

    .color-picker(slot="trailing-icon")
      u-ripple((click)="colorInput.click()")
      input(
        #colorInput,
        type="color",
        aria-label="Theme color",
        [ngModel]="themeColor",
        (ngModelChange)="$themeColorChange.next($event)")
    .position-relative(slot="trailing-icon")
      u-icon-button(
        aria-label="Theme",
        (click)="themeMenu.toggle()")
        span.material-symbols-outlined palette
      u-menu(
        #themeMenu,
        anchor-corner="end-end")
        u-menu-item((click)="setThemeMode(ThemeMode.Auto)")
          span.material-symbols-outlined(slot="leading-icon") brightness_4
          span System
        u-menu-item((click)="setThemeMode(ThemeMode.Light)")
          span.material-symbols-outlined(slot="leading-icon") light_mode
          span Light Mode
        u-menu-item((click)="setThemeMode(ThemeMode.Dark)")
          span.material-symbols-outlined(slot="leading-icon") dark_mode
          span Dark Mode

    //u-icon-button(
      slot="trailing-icon",
      href="/angular",
      title="Universal Material Angular")
      span.material-symbols-outlined angular
    u-icon-button(
      slot="trailing-icon",
      type="button",
      title="Rtl",
      (click)="toggleRtl()")
      span.material-symbols-outlined format_align_right

  u-drawer(slot="drawer")
    h6.navigation-headline.u-headline-s Material Design
    u-drawer-item(
      routerLink="",
      docsLinkActive,
      [routerLinkActiveOptions]="{exact: true}") Introduction

    //u-drawer-item(
      routerLink="layout/grid",
      docsLinkActive) Grid


    //u-drawer-item Colors
      i.u-typo-title-l.mdi.mdi-chevron-down(slot="badge")

    docs-submenu(label="CSS")
      u-drawer-item(
        routerLink="content/typography",
        docsLinkActive) Typography

      docs-submenu(label="Colors")
        u-drawer-item(
          role="menuitem",
          routerLink="utilities/text-colors",
          docsLinkActive) Text
        u-drawer-item(
          routerLink="utilities/text-emphasis",
          docsLinkActive) Text emphasis
        u-drawer-item(
          routerLink="utilities/background-colors",
          docsLinkActive) Background
        u-drawer-item(
          routerLink="utilities/text-and-background-colors",
          docsLinkActive) Color & background

      u-drawer-item(
        routerLink="utilities/dividers",
        docsLinkActive) Dividers

      u-drawer-item(
        routerLink="components/tables",
        docsLinkActive) Tables

      u-drawer-item(
        routerLink="layout/container",
        docsLinkActive) Container

      u-drawer-item(
        routerLink="layout/grid",
        docsLinkActive) Grid

    docs-submenu(label="Components")

      u-drawer-item(
        routerLink="components/common-buttons",
        docsLinkActive) Common buttons
      u-drawer-item(
        routerLink="components/fab",
        docsLinkActive) Floating Action Button (FAB)
      u-drawer-item(
        routerLink="components/icon-buttons",
        docsLinkActive) Icon buttons
      u-drawer-item(
        routerLink="components/button-set",
        docsLinkActive) Button set

      u-drawer-item(
        routerLink="components/cards",
        docsLinkActive) Cards

      //u-drawer-item(
        routerLink="components/checkbox",
        docsLinkActive) Checkbox

      u-drawer-item(
        routerLink="components/chips",
        docsLinkActive) Chips

      u-drawer-item(
        routerLink="components/dialogs",
        docsLinkActive) Dialogs

      //u-drawer-item(
        routerLink="components/lists",
        docsLinkActive) Lists

      //u-drawer-item(
        routerLink="components/menus",
        docsLinkActive) Menus

      u-drawer-item(
        routerLink="components/progress",
        docsLinkActive) Progress

      u-drawer-item(
        routerLink="components/ripple",
        docsLinkActive) Ripple

      //u-drawer-item(
        routerLink="components/selection-controls",
        docsLinkActive) Selection controls

      //u-drawer-item(
        routerLink="components/sliders",
        docsLinkActive) Sliders

      //u-drawer-item(
        routerLink="components/snackbars",
        docsLinkActive) Snackbars

      //u-drawer-item(
        routerLink="components/tabs",
        docsLinkActive) Tabs

      u-drawer-item(
        routerLink="components/text-fields",
        docsLinkActive) Text fields

      u-drawer-item(
        routerLink="components/select",
        docsLinkActive) Select

      u-drawer-item(
        routerLink="components/chip-field",
        docsLinkActive) Chip field

      u-drawer-item(
        routerLink="components/typeahead",
        docsLinkActive) Typeahead

      //u-drawer-item(
        routerLink="components/toolbars",
        docsLinkActive) Toolbars

  .u-container.chapter
    router-outlet
  //.pane-layout
    .pane
      u-elevation
      .scroll-wrapper(#scrollWrapper)


    .side-pane
      u-card
        .u-label-m On this page:
        a.hash-navigation-item.u-title-s(
          href="#",
          *ngFor="let item of anchorsNavigation",
          tabindex="0",
          (click)="navigateToAnchor($event, item)") {{item.title}}
